<div id="pokemon-list">
    <app-page-with-pagination [listOfItens]="listPokemonsSearch" [isSearched]="isSearched"
        [collectionSize]="collectionSize" [(page)]="page" (pageChange)="onPageChange($event)" [pageSize]="pageSize"
        [ariaLabel]="'lista de paginação pokémon'" [maxSize]="4">
        <ng-container *ngFor="let pokemon of listPokemonsSearch">
            <app-pokemon-card id="pokemon-card_{{pokemon.getId()}}" [pokemon]="pokemon"
                style="max-width: 400px; width: 100%;" />
        </ng-container>
    </app-page-with-pagination>
</div>

<ng-container *ngIf="havePokemonSelected">
    <app-modal-pokemon #modalPokemonDetails />
</ng-container>