<div class="" *ngIf="listOfItens.length > 0">
    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-4">
        <ng-content />
    </div>
    <div class="d-flex justify-content-center justify-content-md-end">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize"
            [attr.aria-label]="ariaLabel" (pageChange)="onPageChange($event)" />
    </div>
</div>
<div *ngIf="listOfItens.length === 0 && isSearched">
    <app-no-results />
</div>