<ng-template #modalTemplate let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-capitalize">{{title}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary text-capitalize" (click)="close()">fechar</button>
        <button type="button" class="btn btn-primary text-capitalize" *ngIf="buttonRightTitle"
            (click)="onButtonRightClick()">{{buttonRightTitle}}</button>
    </div>
</ng-template>