<main class="vh-100">
    <header>
        <div class="py-2 bg-dark text-white overflow-hidden" style="height: 100px;">
            <div class="container h-100">
                <div class="d-flex flex-wrap align-items-center h-100">
                    <h1 class="mb-0">PokeApi - Desafio Totvs</h1>
                </div>
            </div>
        </div>
    </header>
    <router-outlet />
    <footer class="text-center text-lg-start bg-body-tertiary text-muted fixed-bottom">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © {{ year }} Copyright:
            <a class="text-reset fw-bold" href="https://github.com/YuryCSilva" target="_blank">Yury Silva</a>
        </div>
    </footer>
</main>